@import "../Styles/Variables.sass";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');


.profil{
    width:$wd8;
    margin:$mg;
    font-family:$itFont;;
    line-height: 40px;
    color:$whCl;
    padding:50px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:700px; 
}
.profil__intro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about{
    width:$wd8;
    margin: $mg;
    font-size: $fsz; 
    text-align: center;
    padding-top:30px;
}
.myPhoto{
    background-image:url('../../assets/img/white-circle-on-azure-and-yellow-bright-dry-colors_23-2148016401.avif');
    background-size: contain;
    padding:10px 10px 0px 20px;
    border-radius: 50%;
}
.title{
    color:$title;
    font-size: 45px;
    width:50%;
}
.profil .title{
    padding-top: 60px;
}
.btn1{
    background-color:rgba(0, 0, 255, 0.567);
    padding:5px;
    border-radius:15px;
    border:rgba(0, 0, 255, 0.567) 1px solid;
    color:$whCl;
    font-size: 16px;
    width: 40%;
    text-align: center;
    margin: $mg;
    text-decoration: none;
}
.photo_side{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   min-height:390px;
}




.contact_icons {
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: $wd;
  margin:30px 0; 

  
}
@media screen and (max-width:420px) {
  .png{
    width:30px;
    height: 30px;
  }
}
@media screen and (max-width:768px) {
    .btn1{
        font-size: 14px;
        width: 80%;
    }
}
@media screen and (max-width:420px) {
    .title{
        font-size: 30px;  
    }
    .myPhoto{
        width:70%;
        height:70%;
    }
}